html{
	background-color: #fbf9fa;
}
* {
  font-family: "Source Sans Pro", sans-serif;
}
tr * {
  user-select: none;
}
td * {
  user-select: none;
}
.dark-mode{
	filter: brightness(0) invert(1);
}
th{
  height: 50px !important;
  background-color:#f2f2f2;
}
button{
  display: flex;
  border-radius: 50%;
  border: none;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  color: white;
}

button:hover{
  cursor: pointer;
}
img{
    box-sizing: border-box;
    object-fit:contain;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: none;
    user-zoom: none;
    -webkit-user-select: none; /* Safari, Chrome */
    -webkit-user-drag: none;
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
}
div{
    font-size: 20px;
}
.imgIcon{
    height:50px;
    width:50px;
    object-fit:contain;
    margin-left:10px;
    margin-right:10px;
}
a{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-zoom: none;
    -webkit-user-select: none; /* Safari, Chrome */
    -webkit-user-drag: none;
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
}
p{
  font-family:Roboto, sans-serif;
  font-size:20px;
  user-select: none;
}
h1{
  font-family:Roboto, sans-serif;
  text-align:center;
  user-select: none;
  font-size:30px;

}

.draggable-table {
  width: 45%;
  border-collapse: collapse;
  background: #fbf9fa;
  -webkit-box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
}
td{
	display:flex;
	align-items:center;
	text-align:center;
  width:100%;
}
.tables-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin-top:20px;
}
.draggable-table .draggable-table__drag {
  font-size: 0.95em;
  font-weight: normal;
  position: absolute;
  width: 45%;
  text-indent: 20px;
  border: 1px solid #f1f1f1;
  z-index: 10;
  cursor: grabbing;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);
  opacity: 1;
  pointer-events: none;
}

.draggable-table thead th {
  height: 25px;
  font-weight: bold;
  padding: 10px;
  user-select: none;
}

.draggable-table tbody tr {
  cursor: grab;
  display:flex;
  align-items:center;
}

.draggable-table tbody tr:active {
  cursor: grabbing;
  display:flex;
}

.draggable-table tbody tr td {
  font-size: 0.95em;
  font-weight: normal;
  text-indent: 20px;
  padding: 10px;
  user-select: none;
}
.tableTitle{
	color:#2b2024;
  font-size:30px;
}
.draggable-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.draggable-table tbody tr:nth-child(odd) {
  background-color: #fbf9fa;
}

.topNavContainer{
    display:flex;
    width:100%;
    height:45px;
    background-color: #fbf9fa;
    border-top: 5px solid #595959;
    border-bottom: 5px solid #595959;
    align-items:center;
    justify-content:center;
}
#topNavTitle{
  color:#7A0C0D;
}
.slidecontainer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
}
#sliderValue{
  color: #2b2024;
  font-weight: bold;
  margin-left: 10px;
  user-select: none;
}
.slider {
  appearance: none;
  width: 125px;
  height: 25px;
  background: gray;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .3s;
  transition: opacity .3s;
  margin-left: 10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #7A0C0D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #7A0C0D;
  cursor: pointer;
}

#linkPerRowText {
  color: #7A0C0D;
  font-weight: bold;
  font-size: 22px;
}
#resetButton {
  background-color: #7A0C0D;
  font-weight: bold;
  margin-left: 10px;
  user-select: none;
  display: flex;
  border-radius: 8px;
  border: 2px solid #7A0C0D;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: white;
  margin-left: auto;
  transition: background-color 0.3s, color 0.3s;
}

#resetButton:hover {
  background-color: #fbf9fa;
  color: #7A0C0D;
}

/* The container */
.container {
  display: block;
  position: relative;
  width:max-content;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  color:#2b2024;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color:#a8a4a4;
  transition: background-color 0.3s;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: gray;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #7A0C0D;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.linkName{
  color:#2b2024;
}

:root{
	--background-color: #fbf9fa;
	--border-color: #2b2024;
	--text-color: #2b2024;
	--title-color:#7A0C0D;
}
/* form-styles.css */

#add-link-form {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#add-link-form label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: bold;
  color: var(--text-color);
}

#add-link-form input[type="text"],
#add-link-form input[type="url"] {
  width: 50%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  font-size: 18px;
  color: var(--text-color);
}

#add-link-form select {
  width: 96px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  font-size: 18px;
  color: var(--text-color);
}

#add-link-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  background-color: green;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#add-link-form button[type="submit"]:hover {
  background-color: #006400;
}
/* Initially hidden */
#add-link-form-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

/* Visible after click */
#add-link-form-container.visible {
  max-height: 800px;  /* Adjust this value as per the height of your form */
  transition: max-height 1s ease-in;
}

#expandButton {
  font-size: 1.5em;
  width:90%;
  margin: auto;
  padding: 8px;
  border: none;
  border-radius: 8px; /* makes the button round */
  background-color: var(--title-color);
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); /* shadow for a "raised" effect */
  transition: box-shadow 0.3s ease, background-color 0.3s ease; /* transition for a smooth "pressed" effect */
}

#expandButton:hover {
  background-color: #5A0307; /* a darker shade when hovered */
}

#expandButton:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16); /* the button appears "pressed" when active */
}

button.addLink {
  background: url('/images/add.svg') no-repeat;
  border: none;
  background-size: contain; 
  background-position: center; /* to center the image */
  transition: transform 0.2s ease;
}

button.addLink:hover {
  transform: scale(1.1);
}
button.removeLink {
  background: url('/images/remove.svg') no-repeat;
  border: none;
  background-size: contain; 
  background-position: center; /* to center the image */
  transition: transform 0.2s ease;
}

button.removeLink:hover {
  transform: scale(1.1);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;  
  align-items: center;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  display:flex;
  justify-content: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  line-height: 26px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#tutorialGif {
  width: calc(100% - 45px);
  margin-top:45px;
  margin-bottom:45px;
  margin-left:45px;
}
